#keyboard {
  margin-left: 10px;
  max-width: 890px;
  display:block;
  padding: 5px;
  border: 2px solid rgb(18, 18, 19);
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.letter {
  width: 50px;
  height: 50px;
  margin: 4px;
  padding: 4px;
  float: left;
  border: 1px solid rgb(27, 27, 27);
}

.active {
  background: #bbb8b8;
  border-radius: 12px;
  transition: All 0.9s ease;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.field {
  width: 890px;
  margin-left: 10px;
  height: 50px;
}

.clearfix {
  clear: both;
}

.message {
  color: rgb(13, 14, 14);
  margin: 20px;
  font-size: 25px;
  width: 600px;
}
